<!doctype html>
<html ng-app="registerLoginDemo">

<head>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>

<body ng-controller="MainController">

<div class="container">
	<h1>Sign up</h1>
	<form ng-submit="signup(signupUsername, signupPassword)">
		<div class="form-group">
			<label>
				Username
				<input type="text" class="form-control" placeholder="Username" ng-model="signupUsername"/>
			</label>
			<label>
				Password
				<input type="password" class="form-control" placeholder="Password" ng-model="signupPassword"/>
			</label>
			<button type="submit" class="btn btn-primary">Sign up</button>
		</div>
	</form>
	<form ng-submit="login(loginUsername, loginPassword)">
		<h1>Log in</h1>
		<div class="form-group">
			<label>
				Username
				<input type="text" class="form-control" placeholder="Username" ng-model="loginUsername"/>
			</label>
			<label>
				Password
				<input type="password" class="form-control" placeholder="Password" ng-model="loginPassword"/>
			</label>
			<button type="submit" class="btn btn-primary">Sign up</button>
		</div>
	</form>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>